* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.contact {
  height: 32.875rem;
  width: 100%;
}
.info {
  display: grid;
  grid-template-columns: 70% 1fr;
}
.intro {
  background: rgba(31, 31, 31, 0.8) url(./../media/hero-bg.png);
  height: 32.875rem;
  width: 100%;
  background-size: cover;
  background-blend-mode: darken;
  padding: 4rem 8rem;

  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.intro h1 {
  color: white;
  font-size: 4.375rem;
  font-weight: 700;
  border-left: 6px solid #ffb400;
  margin-bottom: 3rem;
  padding-left: 1.5rem;
}
.intro p {
  color: white;
  font-size: 1.375rem;
  font-weight: 400;
  margin-bottom: 3rem;
}
.intro button {
  border: none;
  cursor: pointer;
  background: #ffb400;
  color: white;
  height: 3.4375rem;
  width: 14.375rem;
  margin-top: 2rem;
}
.office {
  background-color: #ffb400;
  padding-left: 2.625rem;
  padding-top: 3.0625rem;
}
.office h1 {
  margin-bottom: 0.5rem;
}
.office h3 {
  margin-top: 1.625rem;
}
.office p {
  margin-top: 0.25rem;
}
.socials {
  margin-top: 2.92125rem;
  display: flex;
  gap: 3rem;
}
.number {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
}
.number button {
  height: 4rem;
  width: max-content;
  padding: 1rem;
  color: #ffb400;
  border: 4px solid #ffb400;
  background-color: #f5f5f5;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 600;
}
.number h1 {
  color: #ffb400;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 2.5rem;
}
.number p {
  font-weight: 500;
  font-size: 1.75rem;
}
.details {
  background-color: #f7f7f7;
  height: 46.125rem;
  width: 100%;
  display: grid;
  grid-template-columns: 45% 1fr;
}
.yellow-line {
  height: 0.3rem;
  width: 3rem;
  background: #ffb400;
}
.left {
  padding: 3rem;
}
.inputs {
  display: flex;
  flex-direction: column;
}
.inputs input {
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
  border: none;
}
.left textarea {
  display: flex;
  padding: 2rem 2rem;
  width: 34.5rem;
  border: none;
}
.left button {
  border: 4px solid black;
  height: 3rem;
  width: 10rem;
  font-size: 0.8rem;
  font-weight: 600;
  margin: 1.5rem 0 0 24.5rem;
  cursor: pointer;
}
.left h1 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
}
.yellow-line {
  margin-bottom: 2rem;
}
.right h3 {
  line-height: 4rem;
}
.right {
  padding: 3rem;
  background-color: #ffff;
  height: 36.5rem;
  margin: auto;
}
.right p {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 2rem;
  line-height: 1.5rem;
}
.minus {
  display: flex;
  flex-direction: row;
  gap: 15rem;
  align-items: center;
}
.minus img {
  height: 1.25rem;
  width: 1.25rem;
}
.plus1 {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 1rem;
}
.plus2 {
  display: flex;
  flex-direction: row;
  gap: 16.2rem;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 1rem;
}
.plus3 {
  display: flex;
  flex-direction: row;
  gap: 14.3rem;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 1rem;
}
.plus4 {
  display: flex;
  flex-direction: row;
  gap: 20.6rem;
  align-items: center;
}
