* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.framing {
  background: rgba(31, 31, 31, 0.8) url(./../media/framing.png);
  height: 39.25rem;
  width: 100%;
  background-size: cover;
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.about {
  padding: 4rem 8rem;
}
.about h1 {
  border-left: 6px solid #ffb400;
  font-size: 3rem;
  font-weight: 700;
  color: white;
  margin-bottom: 2rem;
  padding-left: 2rem;
}
.about p {
  color: white;
}
.about button {
  background-color: #ffb400;
  color: white;
  height: 2.75rem;
  width: 14rem;
  margin-top: 4rem;
  border: none;
  cursor: pointer;
}
.design h1 {
  color: #ffb400;
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
}
.design {
  padding: 4rem;
}
.building {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}
.lol p {
  color: white;
}
.lol h5 {
  color: white;
}
.lol {
  display: flex;
  flex-direction: column;
}
.cap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 5rem 9.5rem;
}
